<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas officia velit fugit. Ipsam incidunt et ad cum, dolores omnis itaque.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas officia velit fugit. Ipsam incidunt et ad cum, dolores omnis itaque.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas officia velit fugit. Ipsam incidunt et ad cum, dolores omnis itaque.</p>
    </div>

    <%- include('./partials/footer.ejs'); %>
</body>

</html>